# Internship File_1

## Submission 18th Sept 2024

In [2]:
import numpy as np
import pandas as pd

In [10]:
def func(a, b):
    return b if a == 0 else func(b % a, a)
print(func(30, 75))

15

In [11]:
numbers = (4, 7, 19, 2, 89, 45, 72, 22)
sorted_numbers = sorted(numbers)
even = lambda a: a % 2 == 0
even_numbers = filter(even, sorted_numbers)
print(type(even_numbers))

<class 'filter'>

In [14]:
set1 = {14, 3, 55}
set2 = {82, 49, 62}
set3={99,22,17}

print(len(set1+set2+set3))

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [15]:
print(4**3 + (7 + 5)**(1 + 1))

208

In [16]:
import datetime

now =datetime.datetime.now()
print(now)

2024-09-16 18:52:45.116433

In [17]:
string1 = "16 September, 2024"
print("Today's Date = ",string1)

Today's Date =  16 September, 2024

In [29]:
#strptime 
from datetime import datetime
date_string = "16 September, 2024"
print("Today's Date = ",date_string)

date_object = datetime.strptime(date_string,"%d %B, %Y")
print(date_object)

Today's Date =  16 September, 2024
2024-09-16 00:00:00

In [28]:
from datetime import datetime
date1 = "03 November, 1980"
print("Date of Birth ",date1)

time = datetime.strptime(date1, "%d %B, %Y")
print(time)

Date of Birth  03 November, 1980
1980-11-03 00:00:00

In [3]:
captains = { 
    "Enterprise": "Picard", 
    "Voyager": "Janeway", 
    "Defiant": "Sisko" }

In [4]:
captains.items()

dict_items([('Enterprise', 'Picard'), ('Voyager', 'Janeway'), ('Defiant', 'Sisko')])

In [7]:
for ship, captain in captains.items():
    print(ship,captain)

Enterprise Picard
Voyager Janeway
Defiant Sisko

In [9]:
for ship in captains:
    print(ship, captains[ship])

Enterprise Picard
Voyager Janeway
Defiant Sisko

In [10]:
for ship in captains:
    print(ship, captains)

Enterprise {'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}
Voyager {'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}
Defiant {'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}

In [12]:
captain = {}
print(captain)

{}

In [13]:
captains = {
"Enterprise": "Picard",
"Voyager": "Janeway",
"Defiant": "Sisko",
}

In [15]:
captains

{'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}

In [16]:
captains.update({"Discovery": "unknown",})

In [17]:
captains

{'Enterprise': 'Picard',
 'Voyager': 'Janeway',
 'Defiant': 'Sisko',
 'Discovery': 'unknown'}

In [19]:
for item in captains.items():
    print(f"The [ship] is captained by [captains].")

The [ship] is captained by [captains].
The [ship] is captained by [captains].
The [ship] is captained by [captains].
The [ship] is captained by [captains].

In [20]:
for ship, captain in captains.items():
    print(f"The {ship} is captained by {captain}.")

The Enterprise is captained by Picard.
The Voyager is captained by Janeway.
The Defiant is captained by Sisko.
The Discovery is captained by unknown.

In [21]:
for captain, ship in captains.items():
    print(f"The {ship} is captained by {captain}.")

The Picard is captained by Enterprise.
The Janeway is captained by Voyager.
The Sisko is captained by Defiant.
The unknown is captained by Discovery.

In [22]:
captains["Discovery"].pop()

AttributeError: 'str' object has no attribute 'pop'

In [24]:
del captains["Discovery"]

KeyError: 'Discovery'

In [25]:
captains

{'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}